/********* BULMA PRESETS ********/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,300i,700&display=swap');


// Set your brand colors
$green: rgb(73, 230, 68);


// Update some of Bulma's component variables
$primary: $green;
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
$table-row-active-background-color: rgba($primary, 0.5);
$tabs-link-active-color: $green;
$tabs-link-active-border-bottom-color: $green;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans Condensed', sans-serif;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass//components/tabs.sass";
@import "../../../node_modules/bulma-extensions//bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../../../node_modules/react-calendar/dist/Calendar.css";


/********* CUSTOM STYLES ********/

* {
  box-sizing: border-box;
}

span.icon.is-small.is-left, .select.is-primary:not(:hover)::after {
  z-index: 1;
}

.title {
  font-family: 'Amatic SC', sans-serif;
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.6);
}

// HOMEPAGE ***************************************** //


#home {
 
  background-image: url(../images/jogging-4211946.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  
  .hero-title {
    background-color: white;
    height: 35vh !important; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
    z-index: 2;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 5vh;

    }

    .button {
      border: none;
      display: flex;
      flex-direction: column;
      height: 60px;

      &:hover {
        opacity: 0.6;
      }
    }


    .title {
      font-size: 5rem;
      margin-right: 20px;
      margin-left: 8vw;
    }

  }

  .shadow {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  @media only screen and (max-width: 768px) {
    .hero-title {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);

      .title {
        margin-right: 0px;
        margin-left: 10px;
      }
      .container {
        justify-content: center;
      }
    }

    .shadow {
      height: 40vh;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    
  }
}

// CALENDAR ***************************************** //

#calendar {
  .is-race{
    background-color: rgba($warning, 0.5);
  }

  .is-today {
    background-color: rgba($primary, 0.5);
  }
}

#calendar-modal {
  .box {
    border: 0.5px solid lightgray;

  .field {
    margin: 20px 5px;

  }

  .modaltitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .button {
      margin-left: 10px;
    }
  }

    .checkboxes {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .durationfields, .distancefields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .field {
        flex-grow: 1;

        .select {
          margin-right: 0;
        }
      }
    }
  }

  .button {
    margin: 5px;
  }

  #calendar-pop {
    position: absolute;
    z-index: 3;
  }
}