/********* BULMA PRESETS ********/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans+Condensed:300,300i,700&display=swap');


// Set your brand colors
$green: rgb(73, 230, 68);
$red: rgb(211, 1, 1);
$blue: rgb(0, 136, 255);
$yellow: rgb(255, 204, 0);
$purple: rgb(53, 0, 128);



// Update some of Bulma's component variables
$primary: $green;
$danger: $red;
$warning: $yellow;
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
$table-row-active-background-color: rgba($primary, 0.5);
$tabs-link-active-color: $green;
$tabs-toggle-link-active-background-color: $green;
$tabs-link-active-border-bottom-color: $green;
$tabs-toggle-link-active-border-color: $green;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans Condensed', sans-serif;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass//components/tabs.sass";
@import "../../../node_modules/bulma-extensions//bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../../../node_modules/react-calendar/dist/Calendar.css";


/********* CUSTOM STYLES ********/

* {
  box-sizing: border-box;
}

span.icon.is-small.is-left, .select.is-primary:not(:hover)::after {
  z-index: 1;
}

.title {
  font-family: 'Amatic SC', sans-serif;
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ebebeb' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.button.is-primary {
  color: white;
}

// HOMEPAGE ***************************************** //


#home {
 
  background-image: url(../images/jogging-4211946.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  
  .hero-title {
    background-color: white;
    height: 35vh !important; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
    z-index: 2;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 5vh;

    }

    .button {
      border: none;
      display: flex;
      flex-direction: column;
      height: 60px;

      &:hover {
        opacity: 0.6;
      }
    }


    .title {
      font-size: 5rem;
      margin-right: 20px;
      margin-left: 8vw;
    }

  }

  .shadow {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  @media only screen and (max-width: 768px) {
    .hero-title {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);

      .title {
        margin-right: 0px;
        margin-left: 10px;
      }
      .container {
        justify-content: center;
      }
    }

    .shadow {
      height: 40vh;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    
  }
}

// NAVBAR ***************************************** //

#navbar {

  .navbar {
    background-color: rgba(white,0);
  }

  .start {
    background-color: rgba(white, 0.9);
    height: 13vh !important; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    z-index: 2;
  }

  .shadow {
    width: 100%;
    height: 15vh;
    background-color: rgba(rgb(237, 237, 237), 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  @media only screen and (max-width: 1024px) {
    .shadow {
      z-index: -1;
    }
  }

  @media only screen and (max-width: 768px) {
    .start {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    }

    .shadow {
      height: 15vh;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      z-index: -1;
    }
    
    .level-end {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .button {
    margin-right: 20px;
  }

  div.start {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
    .level {
      width: 100%;
      margin: 10px;
    }
  }
}


// CALENDAR ***************************************** //

#calendar {

  td {
    height: 100%;
  }

  td.schedule {
    max-width: 20vw;
    word-wrap: breakword;
  }

  .is-race{
    background-color: rgba($blue, 0.3);
    color: white;
    font-weight: 800;
  }

  .date.is-today {
    background-color: rgba($primary, 0.4);
  }

  .sa, .su {
    background-color: rgba(rgb(240, 240, 240), 0.5);
  }

  tr:hover {
    background-color: rgba($primary, 0.15);
  }
  
  td.easy {
    color: $blue !important;
  }

  td {
    i {
      margin-right: 5px; 
      opacity: 0.5;
    }
    &.distance i {
        color: $green;
    }

    &.duration i {
      color: $blue;
    }

    &.pace i {
      color: $yellow;
    }

    &.hr i {
      color: $red;
    }

    &.notes i {
      color: $purple;
    }

    .race i {
      color: $purple;
      opacity: 1;
    }

    .plan {
       .skipped {
        text-decoration: line-through;
        opacity: 0.4;
      }

      i.fa-check {
        color: $green;
        opacity: 1;
      }
    }
  }

  td.notes .notes-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      margin: 3px 0 0;
    }

    .notes-info {
      position: absolute;
      min-width: 10vw;
      max-width: 80vw;
      opacity: 0;
      word-wrap: break-word;
      text-align: center;
      transition: opacity 0.5s ease-in-out;
      background-color: white;
      border: 0.5px solid lightgray;
      padding: 10px;
      border-radius: 10px;
    }
  

    &:hover {

      .notes-info {
        opacity: 1;
      }
    }
  }

  td {
    border: none;
  }

  tr {
    border-top: 1px solid lightgray;
  }

  i.arrow {
    border: solid $green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    cursor: pointer;

    &.up {
      margin-top: 10vh;
      margin-bottom: 10px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    
    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  @media only screen and (max-width: 768px) {

    .date-formatted {
      min-width: 25;
    }

    td i {
      display: block;
    }
  }


}

#calendar-modal {
  .box {
    order: 0.5px solid lightgray;
    min-height: 50vh;

  .field {
    margin: 20px 5px;

  }

  .modaltitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .button {
      margin-left: 10px;
    }
  }

    .checkboxes {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .durationfields, .distancefields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .field {
        flex-grow: 1;

        .select {
          margin-right: 0;
        }
      }
    }
  }

  .button {
    margin: 5px;
  }

  #calendar-pop {
    position: absolute;
    z-index: 3;

    .react-calendar__navigation {
      .react-calendar__navigation__arrow, .react-calendar__navigation__label {
        font-size: 1rem !important;

      }
    }

    .react-calendar__tile--active {
      background-color: rgba($primary, 0.8)
    }
  }
}

// mobile compatibility ***************************************** //


.mobile-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}